html, body, body > .row, #mapContainer, #map{
    height: 100%;
}
body {
    /* width: 100%; */
    width: auto;
    min-width: 750px;
}
#mainContainer {
    display: inline;
    /* min-width: 750px; */
}
/* .noSidePadding {
    padding-left: 0px;
    padding-right: 0px;
} */
#mapContainer {
    padding-left: 0px;
    /* width: 80%; */
    width: 85%;
    /* min-width: 850px; */
    float: left;
}
#map {
    width: 100%;
}
.listContainer {
    height: 100%;
    width: 15%;
    /* min-width: 150px; */
    /* width: 300px; */
    overflow-y: auto;
    /* background-color: rgb(81, 83, 90); */
    padding-right: 0px;
    float: left;
}
.listItem {
    width: 100%;
    height: 50px;
    padding: 2px 0px 0px 5px;
    background-color: #c0c0c0;
    border-top: 2px solid white;
    border-left: 2px solid white;
}
.listItem > .state {
    font-size: 16px;
    font-weight: bold;
}
#infoWindow {
    position: absolute;
    height: 150px;
    width: 250px;
    z-index: 1;
}

/* Simple css loading icon */
/* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #04519b; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
